{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .navbar {
      color : white;
    }
    .navbar-brand img {
      margin-bottom: 60px;
      margin-left: 20px;
    }
</style>

<nav class="navbar navbar-expand-lg px-5 navbar-dark"> <!-- Changer la classe bg-light en bg-primary pour le fond bleu foncé -->
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <image src="img/logo.png" alt="logo " height="150"> 
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent"> <!-- Aligner les éléments à droite -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Areas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
