{% extends 'base.html.twig' %}

{% block title %}Edit Participant
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9">
				<div class="goCard">
					<h1 class="h2 mb-4 text-white text-center">Edit Participant</h1>

					{{ include('participant/_form.html.twig', {'button_label': 'Update'}) }}
					<a class="position-absolute text-white top-0 mt-4 ms-2" href="{{ path('app_user_index' }}">Back to list</a>
					{#    {{ include('user/_delete_form.html.twig') }}#}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

