<form method="post" action="{{ path('app_participant_go_out_delete', {'id': participant_go_out.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participant_go_out.id) }}">
    <button class="btn">Delete</button>
</form>
