{% extends 'base.html.twig' %}

{% block title %}ParticipantGoOut index{% endblock %}

{% block body %}
    <h1>ParticipantGoOut index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participant_go_out in participant_go_outs %}
            <tr>
                <td>{{ participant_go_out.id }}</td>
                <td>
                    <a href="{{ path('app_participant_go_out_show', {'id': participant_go_out.id}) }}">show</a>
                    <a href="{{ path('app_participant_go_out_edit', {'id': participant_go_out.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_participant_go_out_new') }}">Create new</a>
{% endblock %}
