body {

}
.navbar-brand img {
    margin-bottom: 60px;
    margin-left: 20px;
  }

  .logout-link {
    text-decoration: none;
    color: rgb(38, 36, 65);
}
a {
    text-decoration: none;
}

form {
  width: 400px; /* Taille du formulaire */
  margin: auto; /* Centrage horizontal */
  text-align: center; /* Centrage du texte */
}

.goCard {
background: rgba(255, 255, 255, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(255, 255, 255, 0.6);
margin: 40px;
padding: 20px;
}


label, input[type="text"], input[type="password"], .btn-primary {
  color: white; /* Texte en blanc */
}
input[type="text"], input[type="password"] {
  background-color: transparent; /* Fond transparent pour les champs de saisie */
  margin-bottom: 20px; /* Espacement entre les champs */

}
input:focus {
  outline: none; 
  color: violet;
  background-color: transparent; /* Fond transparent pour les champs de saisie */
}
.btn-login {
  background-color: rgb(201, 27, 70); /* Fond rose pour le bouton */
  color: white; /* Bordure rose pour le bouton */
}

.btn-login:hover {
  background-color: rgb(129, 18, 46); /* Fond rose pour le bouton */
  color: white; /* Bordure rose pour le bouton */
}


.date-item {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 60px;
  margin-top: 20px;
}
.logout-item {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 60px;
  margin-top: 40px;
}