{% extends 'base.html.twig' %}

{% block title %}New event{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <a href="{{ path('app_go_out_index') }}" class="btn btn-secondary py-1 my-3" style="width: fit-content;">
                <i class="fa-solid fa-arrow-left"></i> Retour à la liste
            </a>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-9 card custom-card">
                <div class="card-header">
                    <h4 class="card-title text-center my-3">Nouvelle sortie</h4>
                </div>
                <div class="card-body">
                    {{ include('go_out/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
