body { background: linear-gradient(-45deg, #ce6e51, #b4255c, #127599, #0ca17e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    min-height: 100vh;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .navbar-nav .nav-item{
    text-decoration: none;
}

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background:transparent;
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 38vmin;
  height: 38vmin;
  border-radius: 38vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 21;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #583C87;
  top: 43%;
  left: 25%;
  animation-duration: 54s;
  animation-delay: -177s;
  transform-origin: -3vw 19vh;
  box-shadow: 76vmin 0 10.241144901804757vmin currentColor;
}
.background span:nth-child(1) {
  color: #FFACAC;
  top: 67%;
  left: 87%;
  animation-duration: 152s;
  animation-delay: -120s;
  transform-origin: 1vw -4vh;
  box-shadow: -76vmin 0 9.999618483510835vmin currentColor;
}
.background span:nth-child(2) {
  color: #583C87;
  top: 12%;
  left: 71%;
  animation-duration: 262s;
  animation-delay: -41s;
  transform-origin: 9vw -18vh;
  box-shadow: 76vmin 0 10.168314589683723vmin currentColor;
}
.background span:nth-child(3) {
  color: #E45A84;
  top: 10%;
  left: 76%;
  animation-duration: 221s;
  animation-delay: -51s;
  transform-origin: 20vw 22vh;
  box-shadow: 76vmin 0 9.847188273723916vmin currentColor;
}
.background span:nth-child(4) {
  color: #FFACAC;
  top: 77%;
  left: 26%;
  animation-duration: 25s;
  animation-delay: -134s;
  transform-origin: 18vw 0vh;
  box-shadow: -76vmin 0 9.758239495323599vmin currentColor;
}
.background span:nth-child(5) {
  color: #E45A84;
  top: 3%;
  left: 12%;
  animation-duration: 12s;
  animation-delay: -223s;
  transform-origin: -16vw -14vh;
  box-shadow: -76vmin 0 10.059769580121646vmin currentColor;
}
.background span:nth-child(6) {
  color: #583C87;
  top: 62%;
  left: 97%;
  animation-duration: 73s;
  animation-delay: -34s;
  transform-origin: -20vw 2vh;
  box-shadow: 76vmin 0 10.46134631678431vmin currentColor;
}
.background span:nth-child(7) {
  color: #E45A84;
  top: 68%;
  left: 64%;
  animation-duration: 92s;
  animation-delay: -205s;
  transform-origin: 7vw 15vh;
  box-shadow: 76vmin 0 10.242384423603319vmin currentColor;
}
.background span:nth-child(8) {
  color: #FFACAC;
  top: 72%;
  left: 83%;
  animation-duration: 110s;
  animation-delay: -147s;
  transform-origin: 19vw 1vh;
  box-shadow: -76vmin 0 10.204429616816183vmin currentColor;
}
.background span:nth-child(9) {
  color: #583C87;
  top: 1%;
  left: 39%;
  animation-duration: 41s;
  animation-delay: -171s;
  transform-origin: -13vw -7vh;
  box-shadow: -76vmin 0 10.126410337980259vmin currentColor;
}
.background span:nth-child(10) {
  color: #583C87;
  top: 79%;
  left: 85%;
  animation-duration: 155s;
  animation-delay: -48s;
  transform-origin: 2vw 16vh;
  box-shadow: 76vmin 0 10.30162722201863vmin currentColor;
}



