{% extends 'base.html.twig' %}

{% block title %}Editer mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="goCard">
                    <h1 class="h2 mb-4 text-white text-center">Editer mon mot de passe</h1>
                    {{ form_start(form) }}

                    {{ form_widget(form) }}
                    <button class="btn btn-login w-100">{{ button_label|default('Save') }}</button>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
